{% extends 'base.html' %}

{% block title %}
home
{% endblock title %}

{% block content %}
    <input id="search_here" class="form-control mb-3" placeholder="type here to search.." />
    <table  class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Last</th>
          <th scope="col">Email</th>
          <th scope="col">Age</th>
          <th scope="col">Address</th>
          <th scope="col">City</th>
        </tr>
      </thead>
      <tbody id="box">
         {% for employee in employees %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td>{{ employee.first_name }}</td>
              <td>{{ employee.last_name }}</td>
              <td>{{ employee.email }}</td>
              <td>{{ employee.age }}</td>
              <td>{{ employee.address }}</td>
              <td>{{ employee.city }}</td>
            </tr>
         {% endfor %}
      </tbody>
    </table>
{% endblock content %}

{% block scripts %}
<script>
    const data = '{{qs_json}}'
    console.log(data)

    const rData = JSON.parse(data.replace(/&quot;/g, '"'))
    console.log(rData)

    const input = document.getElementById('search_here')
    console.log(input)

    let filteredArr = []

    input.addEventListener('keyup', (e)=>{
        box.innerHTML = ""
        var i=1;
        filteredArr = rData.filter(employee=> employee['first_name'].includes(e.target.value))
        console.log(filteredArr)
        if (filteredArr.length > 0){
            filteredArr.map(employee=>{
                box.innerHTML +=
                `
                    <tr>
                         <th scope="row">${i++}</th>
                          <td>${employee.first_name}</td>
                          <td>${employee.last_name}</td>
                          <td>${employee.email}</td>
                          <td>${employee.age}</td>
                          <td>${employee.address}</td>
                          <td>${employee.city}</td>
                    </tr>
                `
            })
        } else {
            box.innerHTML = "<b>No results found...</b>"
        }
    })

</script>
{% endblock scripts %}